.form {
  width: 100%;
  min-height: 100vh;
  max-height: 100%;

  padding: 35px 0;

  background-color: #ebe6dd;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formCard {
  width: 35%;
  height: 100%;

  padding: 35px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #e1533c;

  border-radius: 20px;
}

.formLabel {
  font-weight: 600;
  font-size: 1.5rem;

  padding: 20px 0 5px 0;
}

.formInput {
  font-size: 13px;

  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;

  padding: 5px;
}

.formInputImg {
  width: 66%;
  font-size: 13px;

  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;

  padding: 5px;
}

.weightHeight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  column-gap: 40px;
}

.min {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.max {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.submitBtn {
  background: none;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 5px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 90px;
  aspect-ratio: 3/1;

  cursor: pointer;
}

.submitBtn:hover {
  font-weight: 600;
}

.disabledBtn {
  background: none;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 5px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 90px;
  aspect-ratio: 3/1;

  cursor: not-allowed;
}

.formSelect {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;

  font-size: 15px;
  text-align: center;

  padding: 5px 25px;
}

.dogTemperaments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;

  padding-top: 15px;
}

.temperamentEl {
  display: flex;
  align-items: center;

  gap: 8px;

  border: 2px solid black;
  border-radius: 10px;

  padding: 5px 10px;
}

.temperamentEl button {
  background-color: transparent;
  color: black;
  border: none;

  cursor: pointer;
}

/** Validation. */
.validation {
  color: #ebe6dd;
  text-align: center;
  padding: 5px;
}
