.form {
  width: 100%;
  height: 100vh;

  background-color: #ebe6dd;

  display: flex;
  justify-content: center;
  align-items: center;
}

.formCard {
  width: 35%;
  height: 92%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #e1533c;

  border-radius: 20px;
}

.formLabel {
  font-weight: 600;
  font-size: 1.5rem;

  padding: 20px 0 5px 0;
}

.formInput {
  font-size: 13px;

  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;

  padding: 5px;
}

.formInputImg {
  width: 66%;
  font-size: 13px;

  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;

  padding: 5px;
}

.minMax {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0 100px;
}

.labelWH {
  width: 110%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputWH {
  width: 110%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submitBtn {
  background: none;
  border: 2px solid black;
  border-radius: 10px;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 5px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  width: 90px;
  aspect-ratio: 3/1;

  cursor: pointer;
}

.submitBtn:hover {
  font-weight: 600;
}

.formSelect {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 10px;

  font-size: 15px;
  text-align: center;

  padding: 5px 25px;
}
