.navDiv {
  width: 100%;
  height: 80px;

  background-color: #ebe6dd;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  font-family: "Kanit";

  border-bottom: 2px solid #e1dcd1;
}

.divTitle {
  width: 50%;
  height: auto;
}

.titleLink {
  display: flex;
  align-items: center;
  flex-direction: row;

  text-decoration: none;
  color: black;

  cursor: pointer;
}

.logoDog {
  width: 17%;
  height: auto;
  mix-blend-mode: darken;
}

.title {
  font-family: "Kanit";
  font-size: 22px;
}

.navDetailDiv {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ebe6dd;
  border-bottom: 2px solid #e1dcd1;

  font-family: "Kanit";
}

.divDetailTitle {
  width: 100%;
  height: auto;
}

.titleDetailLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  text-decoration: none;
  color: black;
}

.logoDetailDog {
  width: 10%;
  height: auto;
  mix-blend-mode: darken;
}
